.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8; 
    background-image: url('../images/airport2.avif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.boarding-pass {
    display: grid;
    width: 70%; 
    height: 50%; 
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: 40px;
    overflow: hidden
}

.header, .middle-section, .bottom-section {
    display: grid;
    grid-template-columns: 7fr 2fr;
}

.header {
    background-color: red;
}

.header-left-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.header img {
    height: 60px;
    padding-left: 40px;
}

.middle-section {
    background-color: lightgray;
}

.middle-section-left-column {
    display: grid;
    padding-left: 5px;
    grid-template-rows: 3fr 1fr;
}

.middle-section-top-row {

}

.middle-section-bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bottom-row-boxes {
    
}

.middle-section-right-column {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bottom-section {
    background-color: red;
    color: white; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; 
    font-weight: bold; 
    padding: 1rem; 
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}